#root {
  margin: 0 auto;
  padding: 5rem 10rem;
  text-align: left;
}

html, body{
  background: linear-gradient(150deg,#6CB0B5 0%, #f7f7f7 100%);
  height: 100%;
  margin: 0;
}

#pesquisar{
  padding-bottom: 50px;
  display: flex;
  padding-bottom: 30px;
}

#resultado{
  padding: 0px 30px;
  color: #0F2637;
}

.barraPesquisa{
  width: 400px;
  height: 40px;
  padding-left: 15px;
  border: none;
  background-color: #fdfdfdd3;
  border-radius: 28px 0 0 28px;
  color: #0F2637;
  outline: none;
  font-size: 14px;
}

.barraPesquisa:focus{
  background-color: #fdfdfdd3;
}

#btnPesquisar{
  padding-right: 15px;
  border: none;
  border-radius: 0 28px 28px 0;
  background-color: #fdfdfdd3;
  cursor: pointer;
}

#btnPesquisar img{
  width: 16px;
}

#cidade{
  font-size: 24px;
}

#temperatura{
  font-size: 45px;
  padding: 0;
  margin: 0;
}

#tipo{
  font-size: 20px;
  font-weight: 300;
}

.outros{
  display: flex;
  font-size: 16px;
  gap: 100px;
  font-weight: 300;
}

.clima{
  display: flex;
  align-items: center;
  gap: 30px;
}

.clima img{
  width: 35px;
}

#iconAPI{
  width: 70px;
}

#explicacao{
  margin: -80px;
  padding-right: 80px;
}

@media screen and (max-width: 645px){
  #root {
    margin: 0 auto;
    padding: 3rem 4rem;
    text-align: left;
  }
  
  #resultado{
    padding: 0px 10px;
  }
}

@media screen and (max-width: 412px){
  #root {
  margin: 0 auto;
  padding: 2rem 2rem;
  text-align: left;
  font-size: 14px;
}

#resultado{
  padding: 0px 10px;
}

.barraPesquisa{
  width: 350px;
  height: 35px;
  font-size: 13px;
}

.outros{
  font-size: 15px;
}

#explicacao{
  margin: -60px;
  padding-right: 20px;
}
}